.nav_bar{
    background-color: #260C1A;
    list-style-type: none !important;
    height:fit-content;
    width:fit-content;
    float: right;
    margin: 10%;
    padding: 20px;
    overflow: hidden;
    border-radius: 25px
  }
  
  .nav a{
    display: block;
    color: #DBDBDB;
         

    text-decoration: none;
    border-radius: 25px;
  }
  
  .nav:hover {
    background-color: #AEA4BF;
    border-radius: 5px;
  }
  
  li{
    float: left;
    margin:10px;
  
  }
  
  body{
    background-color: #260C1A;
  }


 .container {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
 } 


  .block_sm_container {
    width: 30%;
    height: 100%;
    background-color: #AEA4BF;
    float:right;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    min-width: 400px;
    z-index: 0;
  }



   .container_desc {
    display:inline-block;
    position:absolute;
    top: 25%;
    bottom: 10%;
    width: 90%;
    z-index: 1;
    min-width: 50%;
    max-width: 85%;
   }

  .intro {
    float: left;
    background-color: #AEA4BF;
    padding:20px;
    border-radius: 25px;
    width: 50%;
    border-color: #260C1A;
    border-width: 5px;
    border-style:solid;
    margin-top: 25px;
    margin-left:25px;
  }

  .profile {
    width: 500px;
    height: 500px;
    background-color:#AEA4BF;
    float: right;
    border-radius: 50px;
    border-width: 25px;
    border-style: solid;
    border-color:#260C1A;
  }