.nav_bar{
    background-color: #0B032D;
    list-style-type: none !important;
    position: fixed;
    margin: 10px;
    overflow: hidden;
  }
  

  
  li a{
    display: inline;
    color: white;
    padding:15px;
    text-decoration: none;
    border-radius: 15px;
  }
  
  .nav:hover {
    background-color: #432C51;
    border-radius: 5px;
  
  }
  
  li.nav {
    float: right;
    padding:5px;
  }

  li.name {
    float: left;
    margin-top: 2px;
  }
  
  body{
    background-color: #0B032D;
  }
  
  a {
    font-family: 'Trebuchet MS';
    font-size: 20px;
    font-weight: bold;
  }
  
  a.name {
  
    font-family:'Segoe UI';
  }

