.sidebar{
  width: 10%;
  background-color: green;
  padding:10px;
  border-radius:15px;
}
h1{
  font-size:28px;
  font-family:Impact;
  margin-right: auto;
  margin-left: auto;
}
.profile{
  margin-right: auto;
  margin-left: auto;
  border-radius:15px
  border-color: black;
  width: 5%;
  height: 5%;
}
