ul {
  background-color: #292535;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li, a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li, a:hover {
  background-color: #243D3f;
}

li{
  float: right;
}
