.nav_bar{
  background-color: #292535;
  height:fit-content;
}
.nav_but{
  background-color: #292535;
  color: white;
  font-size: 14px;
  font-family: Imperial;
}
nav_but:hover{
  background-color: #243D3f;
}