.sideBar {
  position: absolute;
  left: 0px;
  width:200px;
  height: 100%;
  background-color: #621414;
  align-items: center;
  min-height: fit-content;
}

body {
  background-color: #0A0E23;
  margin:0px;
  padding: 0px;
}

.profilepic {
  background-image: url(Images/Profile.jpg);
  position: relative;
  margin: 25px;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-size:cover;
  background-repeat: no-repeat;
}

ul.navBar {
  list-style: none;
  text-decoration: none;
  width: 100%;
  min-height:fit-content;
}

li {
  text-decoration: none;
  list-style: none;
  padding-top: 20px;
  
}
a.section {
  font-weight: bold;
  color:#C3CEDA;
  font-family: 'Trebuchet MS';
  font-size: 25px;
  text-decoration: none;
  padding:5px;
}

.iconhome {
  width: 25px;
  height: 25px;
  background-image:url(Images/home.png);
  float: left;
  color:white;
}

.iconprojects {
  width: 25px;
  height: 25px;
  background-image:url(Images/light-bulb.png);
  float: left;
  color:white;
}

.iconresume {
  width: 25px;
  height: 25px;
  background-image:url(Images/resume.png);
  float: left;
  color:white;
}

.iconblog {
  width: 25px;
  height: 25px;
  background-image:url(Images/application.png);
  float: left;
  color:white;
}

.iconcontact {
  width: 25px;
  height: 25px;
  background-image:url(Images/contact.png);
  float: left;
  color:white;
}

.mediaContainer {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom:0px;
}

.mediaLinks1 {
  width:50%;
  height: 50%;
  float:left;
  align-content: center;
}

.mediaLinks2 {
  width:50%;
  height: 50%;
  float:right;
}

.iconlinkedin {
  width: 50px;
  height: 50px;
  background-image:url(Images/linkedin.png);
  color:white;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 25px;
}

.icongithub {
  width: 50px;
  height: 50px;
  background-image:url(Images/github.png);
  color:white;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 25px;
}

.iconemail {
  width: 50px;
  height: 50px;
  background-image:url(Images/apple.png);
  color:white;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 25px;
}

.icondiscord {
  width: 50px;
  height: 50px;
  background-image:url(Images/discord.png);
  color:white;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 25px;
}
