.nav_bar{
  background-color: #3B3486;
  list-style-type: none !important;
  margin-right: 10%;
  padding: 10px;
  overflow: hidden;
  border-radius: 5px
}

.nav a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border-radius: 5px;
}

.nav:hover {
  background-color: #332941;
  border-radius: 5px;
}

li{
  float: right;
  margin:10px;

}

body{
  background-color: #332941;
}

.container {
  background-color: #3B3486;
  border-radius: 25px;
  margin: 50px;
  padding: 20px;
  height: 80%;
  border-style:inset;
  border-width: 5px;
  border-color: 332941;
  display:flex;
}

.intro {
  padding: 20px;
  margin: 10px;
  width: 30%;
  
}

.contact_container{
  padding: 20px;
  margin: 10px;
  width: 20%;
}

.contact_child {
  background-color: #332941;
  border-style: inset;
  border-color: #864AF9;
  border-radius: 25px;
  padding: 20px;
  height: 80%;

}

h1 {
  color: white;
  display: block;
  font-weight: bold;
  font-size: 80px;
  font-family: monospace;
}

.profile {
  background-color: #3B3486;
  border-style: inset;
  border-radius: 25%;
  border-color: #864AF9;
  border-width: 10px;
  width:80%;
  height:80%;
  float: right;
  padding: 20px;
  margin: 10px;
}

.a {
  padding: 40px;
  margin: 20px;
}

.img {
  padding: 20px;
  margin: 20px;
  border-style: inset;
  border-radius: 25px;
  border-color: #864AF9;
  width: 300px;
  height: 300px;
  border-width: 5px;
}