.nav_bar{
  background-color: #292535;
  list-style-type: none !important;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  border-radius: 5px
}

.nav a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border-radius: 5px;
}

.nav:hover {
  background-color: #243D3f;
  border-radius: 5px;
}

li{
  float: left;
}

body{
  background-color: #303340;
}


.projectPage{
  width: 100%;
  height: 60%;
  border-top: 10px;
  display: inline-grid;
  
  gap: 10px;
  margin:20px;
  
  
}

.projectContainer{
  background-color: #04724D;
  border-radius: 5px;
  width:300px;
  height: 300px;
  text-align: center;
  position: relative;
}

.ProjectDesc{
  background-color: #292535;
  border-radius: 5px;
  width:275;
  height:25px;
  position: absolute;
  bottom: 12.5;
  margin-right: 12.5;
  display: block;
  padding: 16px
}

p{
  color:white;
  font-size: medium;
  font-style:normal;
}
